name: Test PR Comment Workflow
on:
  issue_comment:
    types:
      - created

jobs:
  commentbot:
    runs-on: ubuntu-latest
    name: Comment Bot
    steps:
      - uses: actions/checkout@v2
        name: Checkout the Repository
      - uses: ./
        name: Run Comment Bot
        with:
          ignore-python-setup: 'true'
          action: 'invalid-comment-bot'
          git-access-token: ${{ secrets.MY_GITHUB_TOKEN }}
